<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login">

<div class="overlay">

<div class="glass">

<img
class="logo"
src="{{ url_for('static', filename='img/logo.svg') }}">

<div class="portal">

PORTAL

</div>

<h1>

Bem-vindo, {{ usuario }}

</h1>

<p>

Escolha um módulo

</p>

<div class="cards">

<a href="/viagens/{{ usuario|lower }}" class="card">

<div class="avatar">

✈

</div>

<h2>

Viagens

</h2>

</a>

<a href="/restaurantes/{{ usuario|lower }}" class="card">

<div class="avatar">

⌘

</div>

<h2>

Restaurantes

</h2>

</a>

<a href="/filmes/{{ usuario|lower }}" class="card">

<div class="avatar">

▶

</div>

<h2>

Filmes

</h2>

</a>

</div>

<div class="cards">

<a href="/musicas/{{ usuario|lower }}" class="card">

<div class="avatar">

♫

</div>

<h2>

Músicas

</h2>

</a>

<a href="#" class="card">

<div class="avatar">

◫

</div>

<h2>

Eventos

</h2>

</a>

<a href="#" class="card">

<div class="avatar">

▤

</div>

<h2>

Declarações

</h2>

</a>

</div>

</div>

</div>

</body>

</html>