<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Portal</h1>

        <p>
            Bem-vindos.
        </p>

        <button>
            Entrar
        </button>

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>