<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <h1>LG</h1>

        <p>
            Um lugar para guardar momentos,
            viagens, restaurantes, filmes e
            toda a história de vocês.
        </p>

        <a href="/login">

            <button>

                Entrar

            </button>

        </a>

    </div>

</body>

</html>