<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login">

    <div class="overlay">

        <div class="glass">

            <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="LG">

            <div class="portal">PORTAL</div>

            <h1>Bem-vindos</h1>

            <p>
                Escolha seu perfil
            </p>

            <div class="cards">

                <div class="card">

                    <div class="avatar">
                        G
                    </div>

                    <h2>Gabriel</h2>

                </div>

                <div class="card">

                    <div class="avatar">
                        L
                    </div>

                    <h2>Lívia</h2>

                </div>

            </div>

        </div>

    </div>

</body>

</html>