<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Entrar | Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login">

<div class="overlay">

<div class="glass">

<img
class="logo"
src="{{ url_for('static', filename='img/logo.svg') }}">

<div class="portal">

PORTAL

</div>

<h1>

Entrar

</h1>

<p>

Selecione o perfil para acessar seu Portal.

</p>

{% if erro %}

<div class="erro">

{{ erro }}

</div>

{% endif %}

<form action="/entrar" method="POST">

<select name="usuario" required>

<option value="">

Selecione o perfil

</option>

<option value="gabriel">

Gabriel

</option>

<option value="livia">

Lívia

</option>

</select>

<input
type="password"
name="senha"
placeholder="Senha"
required>

<button type="submit">

Entrar

</button>

</form>

<div style="margin-top:30px;">

<a
href="/"
style="
color:#b9b9b9;
text-decoration:none;
font-size:15px;
transition:.3s;
">

← Voltar

</a>

</div>

</div>

</div>

</body>

</html>