<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Nova Viagem</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="login">

<div class="overlay">

<div class="glass">

<img class="logo"
src="{{ url_for('static', filename='img/logo.svg') }}">

<div class="portal">

PORTAL

</div>

<h1>

Nova Viagem

</h1>

<form action="/salvar-viagem/{{ usuario|lower }}" method="POST">

<input
type="text"
name="destino"
placeholder="Destino"
required>

<input
type="text"
name="cidade"
placeholder="Cidade"
required>

<input
type="text"
name="pais"
placeholder="País"
required>

<input
type="date"
name="inicio"
required>

<input
type="date"
name="fim"
required>

<input
type="number"
step="0.01"
name="valor"
placeholder="Valor previsto">

<button>

Salvar Viagem

</button>

</form>

</div>

</div>

</body>

</html>